.contactForm{
    padding: 0;

    .form-controlStyle{
        height: 200px;
    }

    .form-select{
        background-color: $secondary--light;
    }

    .img-fluid{
        overflow: hidden;
        border-radius: 10rem;
    }
}