.contactForm{
    padding: 0 5rem 0 0;

    .form-controlStyle{
        height: 200px;
    }

    .form-select{
        background-color: $secondary--light;

        #inputState{
            background-color: $primary;
        }
    }
}