//TOP-NAVBAR

.navbar{
    background-color: $secondary;
    padding: 2rem;

    .navbar-brand{
        img {
            height: auto;
            width: 100%;
          }
    }

    .navbar-toggler{
        align-self: center;
        padding: 1rem;
        color: $primary;
        font-size: 2rem;
    }

    .nav-link:hover{
        font-weight: 500;
    }

    .active{
        font-weight: 500;
        padding-bottom: 4px 0 4px 0;
        border-bottom: 2px solid $primary--light;
        border-top: 2px solid $primary--light;
    }
}

//FOOTER

footer{
    .bi{
        font-size: 1.5rem;
        color: $primary;
    }
}