.navbar{
    background-color: $secondary;

    .navbar-toggler{
        align-self: center;
        padding: 1rem;
        color: $primary;
        font-size: 1.5rem;
    }

    .collapse{
        align-items: center;
    }
}

footer{
    .bi{
        font-size: 1.5rem;
        color: $primary;
    }
}